.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }

.apple{
    display: flex;
    margin-left:20px ;
    /* justify-content: center; */
    justify-content: space-around;
    height: 500px;
    width: 1200px;
    background-color: bisque;
    align-items: center;
    border-radius: 24px;


}
.head{
    gap: 10px;
}
.ant{
    font-weight:lighter ;
    font-size:24px ;
    /* width: 600px; */
    /* height: 30px; */
    margin-bottom: 30px;
    
}
.ball{
    font-weight: bold;
    font-size:56px ;
    margin-top: 30px;
    /* height: 200px; */
    /* width: 600px; */
}
.cat{
    font-weight: normal;
    font-size: 16px;
    height: 56px;
    width: 256px;
    border-radius:8px ;
    color: aliceblue;
    background-color: darkcyan;
    border: none;
    margin-bottom: 50px;
}
.time{
    font-weight: bold;
    font-size: 20px;
}
.ab{
    font-weight: 400;
    font-size: 16px;
}
.v{
    font-weight: 600;
    font-size: 16px;
    color:blue;
}
.div{
    width: 250px;
    height: 130px;
    background-color: azure;
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
    border-radius: 24px;
    font-weight: bold;
    font-size: 40px;
    /* margin-top: 60px; */
    /* text-align: justify ; */
    align-content: center;
}
.btn{
    height: 55px;
    /* width: 600px; */
    border-radius: 20px;
    border: none;
}